<section id="about">

        <div class="container mt-5">
            <h2 class="main-header text-center">About Us</h2>
            <p class="sub-header text-center">grow your business with us</p>
            <div class="row">
                <div class="col-md-6 my-auto order-md-1 order-0">
                    <h4>We are the team of profestional developers ✌</h4>
                    <p>Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Modi est optio qui nesciunt numquam laudantium eius similique repellendus tenetur ipsum. Est
                        harum neque quis voluptates libero veritatis illo atque a!.</p>
                    <button class="btn btn-style">Know More</button>
                </div>
                <div class="col-md-6 order-md-0 order-1">
                    <figure>
                        <img src="image/about.svg" alt="">
                    </figure>
                </div>
            </div>
        </div>

    </section>