<section id="services">

        <div class="container mt-5">
            <h2 class="main-header text-center">Our Services</h2>
            <p class="sub-header text-center">grow your business with us</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div>
                            <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                        </div>
                        <div>
                            <h2>Settings</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, voluptatibus!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div>
                            <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                        </div>
                        <div>
                            <h2>Settings</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, voluptatibus!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div>
                            <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                        </div>
                        <div>
                            <h2>Settings</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, voluptatibus!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div>
                            <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                        </div>
                        <div>
                            <h2>Settings</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, voluptatibus!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div>
                            <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                        </div>
                        <div>
                            <h2>Settings</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, voluptatibus!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div>
                            <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                        </div>
                        <div>
                            <h2>Settings</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, voluptatibus!</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>